<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head'); %>
</head>
<body class="container">

<header>
    <%- include('./partials/header'); %>
</header>

<main>
    <div class="jumbotron">
        <h1>List of current shop lists</h1>
        <p></p>
        <ul>
          <% shoppingMap.forEach(function(s) { %>
            <li>List name: <%= s.name %></li> <a class="btn btn-raised btn-danger" href="/delete?id=<%= s._id %>">Delete</a></td>
            <% s.product_list.forEach(function(a) { %>
              <li>Products: <%= a.product_name %></li>  <a class="btn btn-raised btn-primary" href="/update?id=<%= s._id %>">Update</a></td>
              <li>Total: <%= a.total %></li>          
        <% }); %>
        <hr>
        <% }); %>

      </ul>
    </div>
</main>

<footer>
    <%- include('./partials/footer'); %>
</footer>

</body>
</html>